{
    "name": "example",
    "fractions": {
        "server": "manifest/server.manifest.json",
        "client": "manifest/client.manifest.json",
    }

    "codebase": {
        "manifest": "manifest.json",
        "replay_config": "stream-replay/data/manifest.json",
        "npy_files": "stream-replay/data/*.npy"
    },

    "functions": {

        "run-stream-replay-receiver": {
            "description": "Run stream-replay with default manifest file (receiver part).",
            "parameters": { "duration": 10 },
            "commands": [ "(cd stream-replay; ./udp_rx.py -t $duration -p 5202)",
                          "(cd stream-replay; ./udp_rx.py -t $duration -p 5203)" ],
            "outputs": {
                "throughput-5202": { "cmd": "echo output_0", "format": "Average Throughput: (\\d+\\.\\d+) Mbps" }
            }
        },

        "run-stream-replay-sender": {
            "description": "Run stream-replay with default manifest file (sender part).",
            "parameters": { "target_addr": "" },
            "commands": [ "(cd stream-replay; cargo run data/manifest.json $target_addr)" ],
            "outputs": {
                "length-5203": { "cmd":"(cd stream-replay; ./plot.py data/log-5203*.txt)", "format":"(\\d+\\.\\d+)" }
            }
        },

        "test": {
            "description": "test",
            "parameters": { "dummy": "dummy 1" },
            "commands": [ "echo $dummy 2" ],
            "outputs": {
                "output": { "cmd":"echo $output_0 3", "format":".*" }
            }
        }

    }
}
